ant antlr aopalliance args4j asm avalon-framework avalon-logkit backport-util-concurrent backtype biz bouncycastle c3p0 cglib ch classworlds clj-time clout cn com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-configuration commons-dbcp commons-digester commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-pool commons-validator compojure de dom4j doxia ecs freemarker geronimo-spec hiccup io jakarta-regexp janino javassist javax jaxen jdom jfree jline jmock joda-time jstl jtidy junit log4j logkit maba me mx4j mysql net nz ognl opensymphony org oro pl plexus postgresql redis regexp ring rpc se servletapi sslext stax storm struts us velocity wsdl4j xalan xerces xml-apis xmlpull xmlunit xom xpp3
